
 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&family=Oswald:wght@200;300;400;500;600;700&display=swap');

   body{
   font-family: Nunito;
    font-weight: regular;
    font-size: 20px;
    
   }

   .backnav{
    backdrop-filter: blur(7px) saturate(175%);
    -webkit-backdrop-filter: blur(7px) saturate(175%);
    background-color: rgba(255, 255, 255, 0.54);
    position: fixed top;
   }
